<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chervrolet</title>


    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link rel="stylesheet" href="../public/assets/css/estilos.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">


</head>
<body>
    
      <!-- Header -->
    <header id="header">
      
    <a class="iconmenuprincipal" href="#menu"><span>Menu</span></a>
    </header>
    <div class="header" id="inicio">
       
        
      

        <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="index"><strong>Inicio</strong></a></li>
                <li><a href="#AcercaDe">Marca Chevrolet</a></li>
                <li><a href="#modelo">Chevrolet Corvett</a></li>
                <li><a href="#video">Video Chervrolet Corvett</a></li>
                <li><a href="#contacto">Contacto</a></li>

            </ul>
        </nav>
    

        <div class="contenedor head">
            <h1 class="titulo">Chevrolet</h1>
            <p class="copy">	Louis Chevrolet&William Crapo Durant</p>
        </div>
    </div>

    <main>
        <section class="services contenedor" id="AcercaDe">
            <h2 class="subtitulo">Chevrolet</h2>
            <div class="contenedor-servicio">
                <img src="../assets/azul.jpg" alt="">
                <img src="../assets/carro1.jpg" alt="">
                 <img src="../assets/carro2.jpg" alt="">
                <div class="checklist-servicio">
                    <div class="service">
                        <p>
                            
                            <br> Chevrolet es uno de los fabricantes de automóviles más vendidos y de renombre alrededor del mundo. Si estás en la búsqueda de excelentes autos usados ​​para la venta, hay razones más que suficientes por las que debería optar por un Chevrolet sobre todas las demás marcas de automóviles. <br>
                        
                        <br>Si bien los autos, camionetas y SUV’s usados ​​de Chevrolet pueden costar más en promedio que otras marcas automotrices, es cierto que obtienes lo que pagas. Los estudios de confiabilidad demuestran que los autos de la firma estadounidense costarán menos en tarifas de mantenimiento en el futuro. La decisión de elegir vehículos de la marca Chevrolet en lugar de otras marcas automotrices es sin lugar a dudas una buena opción.
                        
                    </div>
                </div>
            </div>
            <p align="center"><i>"Si estás pensando comprar un auto usado de Chevrolet, aquí te decimos cuáles son los mejores modelos de la marca y cómo se comparan en términos de asequibilidad, confiabilidad y, por supuesto, confiabilidad. </i></p>
        </section>


        <section class="gallery" id="modelo">
            <div class="contenedor">
                <h2 class="subtitulo">Chevrolet Corvette</h2>
                <div class="contenedor-galeria">

                    <a title="Click para ir al principio" href="/"><img src="../assets/corvett2.jpg" alt="MareNostrum" width="362" height="382" class="img-galeria"/></a>
                    <a title="Click para ir al principio" href="/"><img src="../assets/corvett1.jpg" alt="MareNostrum" width="362" height="382" class="img-galeria"/></a>
                    <a title="Click para ir al principio" href="/"><img src="../assets/corvett3.jpg" alt="MareNostrum" width="362" height="382" class="img-galeria"/></a>
                    <a title="Click para ir al principio" href="/"><img src="../assets/corvett4.jpg" alt="MareNostrum" width="362" height="382" class="img-galeria"/></a>
                    <a title="Click para ir al principio" href="/"><img src="../assets/corvett5.jpg" alt="MareNostrum" width="362" height="382" class="img-galeria"/></a>
                    <a title="Click para ir al principio" href="/"><img src="../assets/corvett6.jpg" alt="MareNostrum" width="362" height="382" class="img-galeria"/></a>
                </div>
            </div>
        </section>

        <section class="imagen-light">
            <img src="img/x cerrar.svg" alt="" class="close">
            <img src="img/cinco.jpg" alt="" class="agregar-imagen">
        </section>

        <section class="contenedor" id="video">
            <h2 class="subtitulo">Aprecia el Chevrolet Corvette</h2> 
            <section class="experts">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/wRTpvXaab9w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </section> 
        </section>
    </main>

    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">Chevrolet</h2>
                <p>podría ser la mejor inversión que realices en un auto</p>
            </div>
            <div class="social-media">
                <a href="" class="social-media-icon">
                    <i class='bx bxl-facebook-circle'></i>
                </a>
                <a href="" class="social-media-icon">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="" class="social-media-icon">
                    <i class='bx bxl-instagram'></i>
                </a>
            </div>
        </div>
        <div class="line"> <br>
            <p style="color: white;">Jakeline del Rocío Sáenz Mogollón</p>
        </div>

    </footer>

    <!-- Scripts -->
    <!--<script src="assets/js/lightbox.js"></script>-->

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>

    <script src="../public/assets/js/menu.js"></script>
    
</body>
</html>