<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Iconos-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--Normalize y estilo-->
   <!--<link rel="stylesheet" href="CSS/normalize.css">-->
    <link rel="stylesheet" href="../assets/css/estiloPrueba.css">
    

    <title>Portafolio</title>
</head>

<body>

    <div class="error"><strong></strong></div>

    <div class="errorcenter">
        <img src="../img/error1.jpg" alt=""><br>
        <br> <a class="referenciaincioerror" href="/index"><strong>Clic para regresar la página principal</strong></a>
    </div>
    

</body>
</html>